@import "app";

.cart-list {
  height: 75vh; // 高度

  .van-swipe-cell {
    margin: 10rpx; // 外边距

    .van-card {
      color: $yellow; // 文字颜色
      background: $bg-gray; // 背景颜色
      border: 1rpx solid $black; // 边框颜色
      text-align: left; // 文字对齐方式
      border-radius: 15rpx; // 圆角
      padding: 30rpx; // 内边距

      .van-card__thumb {
        width: 230rpx; // 宽度
      }

      .van-card__content {
        padding-left: 120rpx; // 内边距
      }

      .van-card__title {
        font-size: large; // 字号
        margin-bottom: 10rpx; // 下边距
      }

      .van-card__price {
        color: $orange; // 文字颜色
      }
    }

    .cart-card-right-slot, .van-button {
      height: 100%; // 高度
      font-size: large; // 字号
      line-height: 50rpx; // 行高
      border-radius: 15rpx; // 圆角
      background-color: $orange; // 背景颜色
      border: 0; // 边框
    }
  }

  .van-checkbox__icon {
    margin-top: 60rpx; // 上边距
  }

  .van-card__tag {
    left: 65rpx; // 左边距
  }
}

.submit-order {
  .van-submit-bar, .van-action-sheet {
    margin-bottom: 100rpx; // 下边距
  }
}

.pay-dialog {

  .van-popup {
    padding: 30rpx; // 内边距
    background-color: $bg-gray !important; // 背景颜色
    border: 10rpx solid $black !important; // 边框颜色
  }

  .countdown-time {
    .title, .delimiter {
      color: $yellow; // 文字颜色
    }

    .title {
      margin-bottom: 20rpx; // 下边距
    }

    .item {
      display: inline-block; // 显示方式
      width: 60rpx; // 宽度
      margin-right: 10rpx; // 右边距
      color: $white; // 文字颜色
      font-weight: bold; // 字体粗细
      text-align: center; // 文字对齐方式
      background-color: $black; // 背景颜色
      border-radius: 5rpx; // 圆角
    }
  }

  .pay-dialog-label {
    color: $orange; // 文字颜色
    text-align: center; // 文字对齐方式
    margin: 40rpx 0; // 外边距
  }
}
