@import "app";

.login-tips {
  color: $gray; // 前景色
  margin-top: 20rpx; // 外边距

  .link{
    color: $orange; // 前景色
  }
}

.project-title {
  letter-spacing: 5rpx; // 字间距
  line-height: 80rpx; // 行高
  margin: 40rpx 60rpx; // 外边距

  .title {
    font-size: 45rpx; // 字体大小
  }

  .sub-title {
    font-size: 40rpx; // 字体大小
    color: $orange; // 字体颜色
  }
}

.banner {
  height: 400rpx; // 高度
  margin: 0 20rpx; // 外边距

  swiper, image {
    height: 400rpx; // 高度
  }

  .no-banner-tip {
    height: 400rpx; // 高度

    .van-empty__image {
      height: 210px;
      width: 400rpx;
    }
  }
}

.article {
  text-align: left; // 文本对齐方式

  .van-cell {
    background-color: $black; // 背景颜色
    color: $yellow; // 字体颜色
    font-weight: bold; // 字体粗细
    letter-spacing: 5rpx; // 字间距
  }

  .article-collapse {
    margin: 20rpx; // 外边距
  }

  .van-collapse-item__content {
    color: $black; // 字体颜色
    font-size: 25rpx; // 字体大小
  }
}

.seckill {
  padding: 0 20rpx; // 内边距

  .van-tab {
    background: $bg-gray; // 背景颜色
    color: $white; // 字体颜色
  }

  .van-tab--active {
    background: $black; // 背景颜色

    .van-ellipsis {
      color: $yellow; // 字体颜色
    }
  }

  .van-card {
    color: $white; // 字体颜色
    background: $bg-gray; // 背景颜色
    border: 2rpx solid $black; // 边框圆角
    margin: 10rpx 0 0; // 外边距
  }

  .van-card__content {
    padding-left: 30rpx; // 内边距
    text-align: left; // 文本对齐方式
  }

  .van-card__title {
    padding-top: 20rpx; // 内边距
    font-size: large; // 字体大小
    margin-bottom: 10rpx; // 外边距
    color: $yellow; // 字体颜色
  }

  .van-card__price {
    color: $orange; //
  }

  .van-card__thumb {
    margin-top: 20rpx; // 外边距
    width: 220rpx; // 宽度
  }

  .sk-btn {
    width: 170rpx; // 宽度
    height: 70rpx; // 高度
    line-height: 70rpx; // 行高
    text-align: center; // 文本对齐方式
    font-size: large; // 字体大小
    margin-top: -70px; // 外边距
    float: right; // 浮动
    rotate: -25deg; // 旋转
    border-top-left-radius: 50%; // 边框圆角
    border-bottom-right-radius: 50%; // 边框圆角
  }

  .sk-btn-0, .sk-btn-2 {
    opacity: 0.6; // 透明度
    background-color: $subBlack; // 背景颜色
    color: $white; // 字体颜色
  }

  .sk-btn-1 {
    background-color: $yellow; // 背景颜色
    color: $orange; // 字体颜色
  }
}
