@import "app";

.update-province-board {
  padding: 20rpx; // 内边距

  .van-tree-select__nav,
  .van-tree-select__content {
    background-color: $bg-gray; // 背景颜色
    color: $white; // 字体颜色
    border: 3rpx solid $black; // 边框
    margin: 20rpx; // 外边距
  }

  .main-item-class,
  .content-item-class {
    background-color: $bg-gray; // 背景颜色
    color: $white; // 字体颜色
  }

  .main-active-class,
  .content-active-class {
    color: $yellow; // 选中状态的字体颜色
  }

  .submit-btn {
    margin-top: 20rpx; // 调整按钮的上边距
    font-size: large; // 字体大小
    border-radius: 15rpx; // 圆角半径
  }
}
