@import "app";

.account-body {
  margin-top: 50rpx; // 上外边距

  .van-cell {
    background-color: $bg-gray; // 背景色
    text-align: left; // 左对齐

    .van-cell__title {
      color: $white; // 字体颜色
      letter-spacing: 5rpx; // 字间距
    }

    .van-cell__value {
      color: $yellow; // 字体颜色
    }
  }
}

.account-foot {
  padding: 0 30rpx 200rpx; // 内边距

  .van-button {
    margin-top: 30rpx; // 外边距
    border-radius: 15rpx; // 边框圆角
  }
}
