@import "app";

.free-video {
  width: 98%; // 宽度
  outline: 10rpx solid $black; // 轮廓
  box-sizing: border-box; // 边框
}

.course-info {

  .van-cell {
    background-color: $bg-gray; // 背景色
    color: $yellow; // 文字颜色

    .van-cell__title {
      text-align: left; // 文字对齐方式
    }

    .van-cell__value {
      color: $white; // 文字颜色
    }
  }
}

.operation-tabs {
  height: 80vh; // 高度
  margin: 20rpx 30rpx; // 外边距

  .van-tab {
    color: $subBlack !important; // 文字颜色
    font-weight: bold !important; // 字体粗细
  }

  .summary {
    padding-top: 20rpx; // 内边距
  }

  .catalog {
    padding-top: 20rpx; // 内边距
    padding-bottom: 150rpx; // 内边距

    .van-cell-group__title {
      color: $black; // 文字颜色
      font-weight: bold; // 字体粗细
      background: $yellow; // 背景色
      padding-bottom: 15px; // 内边距
    }

    .van-cell {
      color: $white; // 文字颜色
      background: $black; // 背景色
      text-align: left !important; // 文字对齐方式
    }
  }
}