@import "app";

.chat-board {
  height: 1000rpx; // 高度
  text-align: left; // 文本对齐方式
  margin: 20rpx auto 50rpx; // 外边距

  .chat-dialog {
    background-color: $bg-gray; // 背景色

    .van-step:nth-child(even) {
      text-align: right; // 文本对齐方式
    }

    .van-step--finish {
      color: $white; // 字体颜色
    }

    .desc {
      margin-top: 20rpx; // 上边距
      font-size: larger; // 字体大小
      font-weight: bolder; // 字体粗细
      line-height: 1.5; // 行高
    }
  }
}

.tips {
  font-size: smaller; // 字体大小
  text-align: right; // 文本对齐方式
  margin-right: 30rpx; // 右边距
  color: $gray; // 字体颜色
}

.chat-textarea {
  border: 3rpx solid $black; // 边框
  width: auto !important; // 宽度
  margin: 20rpx; // 外边距;
  border-radius: 15rpx; // 圆角;
  background-color: $bg-gray !important; // 背景色
}

.van-field__control {
  color: $white !important; // 字体颜色
  height: 100rpx !important; // 高度
}

.submit-btn {
  width: auto !important; // 宽度
  margin: 20rpx; // 外边距;
  font-size: large; // 字体大小
  border-radius: 15rpx; // 圆角
}
